@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import 'nav.css';
@import 'card.css';
@import 'login.css';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  background-color: #272727;
  font-family: 'Poppins', sans-serif;
  color: #46444c;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #5a45ff;
}

.container {
  width: 900px;
  margin:100px auto ;
}

.react-autosuggest__input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #5a45ff;
  border-radius: 5px;
}

.react-autosuggest__suggestions-container--open {
  position: fixed;
  z-index: 2;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #5a45ff;
}

ul li {
  list-style: none;
}

#section_home .indice {
  border-radius: 10px;
  background: #D9D9D9;
  padding: 5px 10px;
  margin-right: 10px;
}

#section_home .all_indice {
  display: flex;
  margin: 10px 0;
}

#section_home .message {
  color: white;

}

.fa-check {
  color: #66a51f !important;
}
